@model List<CardEntity>;
@{
	ViewBag.Title = $"{ViewBag.BankName} cards";
	ViewBag.Header = $"{ViewBag.BankName} cards";
}
@section backbutton {
	<a asp-controller="Bank" asp-action="BankInfo" asp-route-bankId="@ViewBag.BankId" class="back-to-home">Back to @ViewBag.BankName page</a>
}

<section class="cards-info">
	@if (Model.Count == 0)
	{
		<h4 class="text-info">Bank hasnt cards:</h4>
	}
	else
	{
		<h4 class="text-info">Bank has cards:</h4>
		@foreach (CardEntity item in Model)
		{
			<table class="cards-info-table">
				<tr>
					<td>Card name:</td>
					<td>@item.CardName</td>
				</tr>
				<tr>
					<td>Card type:</td>
					<td>@item.CardType</td>
				</tr>
				<tr>
					<td>Card level:</td>
					<td>@item.CardLevel</td>
				</tr>
				<tr>
					<td>Validity period:</td>
					<td>@item.ValidityPeriod</td>
				</tr>
				<tr>
					<td>Max credit limit:</td>
					<td>@item.MaxCreditLimit</td>
				</tr>
				<tr>
					<td>Payment system:</td>
					<td>@item.PaymentSystem</td>
				</tr>
			</table>

			<div class="update-delete-wrapper">
				<form asp-controller="Card" asp-action="UpdateCard" asp-route-bankId="@item.BankId" asp-route-cardId="@item.Id" method="get">
					<button class="update-object">Update card</button>
				</form>
				<form asp-controller="Card" asp-action="DeleteCard" asp-route-bankId="@item.BankId" asp-route-cardId="@item.Id" method="post">
					<button class="delete-object">Delete Card</button>
				</form>
			</div>


		}
	}
</section>

<a asp-controller="Card" asp-action="AddCard" asp-route-bankId="@ViewBag.BankId" class="add-user-button">Add Card</a>

