@model BankEntity;
@{
	ViewBag.Title = $"{Model.BankName} info";
	ViewBag.Header = $"{Model.BankName} info";
}
@section backbutton {
	<a asp-controller="Bank" asp-action="BanksList" class="back-to-home">Back to banks list page</a>
}

<section class="bank-table">
	<table class="bank-info-table">
		<tr>
			<td>Bank name:</td>
			<td>@Model.BankName</td>
		</tr>
		<tr>
			<td>Rating:</td>
			<td>@Model.Rating</td>
		</tr>
		<tr>
			<td>Bank founder:</td>
			<td>@Model.BankFounder</td>
		</tr>
		<tr>
			<td>Bank director:</td>
			<td>@Model.BankDirector</td>
		</tr>
		<tr>
			<td>Has license:</td>
			<td>@Model.HasLicense</td>
		</tr>
		<tr>
			<td>Capitalization:</td>
			<td>@Model.Capitalization</td>
		</tr>
		<tr>
			<td>Employee count:</td>
			<td>@Model.EmployeesCount</td>
		</tr>
		<tr>
			<td>Active clients count:</td>
			<td>@Model.ActiveClientsCount</td>
		</tr>
		<tr>
			<td>Blocked clients count:</td>
			<td>@Model.BlockedClientsCount</td>
		</tr>
	</table>

</section>



<div class="add-buttons">
	<a asp-controller="Card" asp-action="CardsInfo" asp-route-bankId="@Model.Id">To card list</a>
	<a asp-controller="User" asp-action="UsersInfo" asp-route-bankId="@Model.Id">View users</a>
	<a asp-controller="Employee" asp-action="EmployeeInfo" asp-route-bankId="@Model.Id">View employees</a>
</div>

