@{
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Bank System | @ViewBag.ObjectName</title>
    <link rel="stylesheet" href="@Url.Content("~/StyleSheet.css")" />

</head>
<body>
    <header class="main-header-flex">
        @RenderSection("backbutton", false)

        <h1>@ViewBag.ObjectName</h1>

        <div class="account-log">
            @if (User != null && User.Identity.IsAuthenticated)
            {
                <p>@User.Identity.Name</p>
                <a asp-controller="Account" asp-action="Logout" class="log-links">Log out</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@returnUrl" class="log-links">Sign up</a>
                <a asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@returnUrl" class="log-links">Log in</a>
            }
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

